# ƒê√™ÃÄ thi Gi∆∞ÃÉa kyÃÄ H·ªá khuy·∫øn ngh·ªã 2025 (ƒë·ªÅ thi m·∫´u).

## Khoa hoÃ£c d∆∞ÃÉ li√™Ã£u IUH. Th∆°ÃÄi gian laÃÄm baÃÄi: 90 phuÃÅt.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**B√†i 1.** (*2.5 ƒëi·ªÉm*) V·∫•n ƒë·ªÅ v·ªÅ *cold-start*.

Cho file d·ªØ li·ªáu csv v·ªÅ 20 b√†i h√°t ƒë∆∞·ª£c 100 users rate trong th√°ng qua, ƒëi·ªÉm t·ª´ 1 ƒë·∫øn 5. C·∫•u tr√∫c file: *id user, id b√†i h√°t, ƒëi·ªÉm rating*.

1) S·ª≠ d·ª•ng k·ªπ thu·∫≠t t·ªïng h·ª£p 2 th√¥ng tin: s·ªë rating k·∫øt h·ª£p rating trung b√¨nh, h√£y ƒë·ªÅ xu·∫•t ra top 5 b√†i h√°t n√™n nghe cho m·ªôt user cold-start.  
2) Gi·∫£ s·ª≠ c√≥ m·ªôt user ƒë√£ nghe b√†i h√°t STT 1. S·ª≠ d·ª•ng k·ªπ thu·∫≠t ƒë·∫øm s·ªë c·∫∑p b√†i h√°t ƒë∆∞·ª£c nghe b·ªüi c√πng user, h√£y ƒë·ªÅ xu·∫•t ra top 5 b√†i h√°t m√† user n√†y c√≥ th·ªÉ c≈©ng mu·ªën nghe theo xu h∆∞·ªõng.  
3) H·ªèi n·∫øu c√≥ th√™m 1 item m·ªõi ƒë∆∞a v√†o h·ªá th·ªëng th√¨ ta n√™n x·ª≠ l√Ω th·∫ø n√†o? SV tham kh·∫£o th√™m t·∫°i ƒë√¢y:  

https://en.wikipedia.org/wiki/Cold_start_(recommender_systems)

In [13]:
import pandas as pd

df = pd.read_csv('data.csv', names=['userId', 'songId', 'rating'])
df = df.dropna(subset=['userId', 'songId', 'rating'])
# Gom nh√≥m theo b√†i h√°t
agg = df.groupby('songId').agg(
    v=('rating', 'count'),
    R=('rating', 'mean')
).reset_index()

# Trung b√¨nh to√†n b·ªô rating
C = agg['R'].mean()

# Ng∆∞·ª°ng t·ªëi thi·ªÉu (v√≠ d·ª•: 90th percentile)
m = agg['v'].quantile(0.90)

print(f'C = {C:.2f}, m = {m:.0f}')

def weighted_rating(x, m=m, C=C):
    v = x['v']
    R = x['R']
    return (v/(v+m))*R + (m/(v+m))*C

agg['WR'] = agg.apply(weighted_rating, axis=1)

# S·∫Øp x·∫øp top 5
top5 = agg.sort_values('WR', ascending=False).head(5)
print(top5)

C = 2.99, m = 33
    songId   v         R        WR
17      18  18  3.555556  3.189951
14      15  31  3.354839  3.167028
6        7  14  3.571429  3.163620
9       10  16  3.500000  3.156955
3        4  19  3.368421  3.128724

In [11]:
# --- Chu·∫©n h√≥a ---
df['ƒëi·ªÉm rating'] = pd.to_numeric(df['ƒëi·ªÉm rating'], errors='coerce')
df = df.dropna(subset=['ƒëi·ªÉm rating'])
# 1Ô∏è‚É£ T√≠nh Weighted Rating (theo c√¥ng th·ª©c IMDb)

# Gom nh√≥m theo b√†i h√°t ƒë·ªÉ l·∫•y s·ªë l∆∞·ª£t rating (v) v√† trung b√¨nh (R)
agg = df.groupby('id b√†i h√°t')['ƒëi·ªÉm rating'].agg(['count', 'mean']).reset_index()
agg = agg.rename(columns={'count': 'v', 'mean': 'R'})

# T√≠nh C (ƒëi·ªÉm trung b√¨nh to√†n b·ªô b√†i h√°t)
C = df['ƒëi·ªÉm rating'].mean()

# T√≠nh m (ng∆∞·ª°ng t·ªëi thi·ªÉu, v√≠ d·ª•: ph·∫ßn v·ªã 60%)
m = agg['v'].quantile(0.90)

# T√≠nh Weighted Rating
agg['WR'] = (agg['v'] / (agg['v'] + m)) * agg['R'] + (m / (agg['v'] + m)) * C

# L·∫•y Top 5 b√†i h√°t c√≥ WR cao nh·∫•t
top5_WR = agg.sort_values('WR', ascending=False).head(5)

print("\nTop 5 b√†i h√°t ƒë∆∞·ª£c ƒë·ªÅ xu·∫•t cho user cold-start (Weighted Rating):")
print(top5_WR)

Top 5 b√†i h√°t ƒë∆∞·ª£c ƒë·ªÅ xu·∫•t cho user cold-start (Weighted Rating):
    id b√†i h√°t   v         R        WR
17          18  18  3.555556  3.198626
14          15  31  3.354839  3.173943
6            7  14  3.571429  3.173031
9           10  16  3.500000  3.165983
3            4  19  3.368421  3.137232

In [5]:
baiHat = df.groupby('id b√†i h√°t').agg( soLuotBinhChon = ('ƒëi·ªÉm rating', 'count'), soDiemTrungBinh = ('ƒëi·ªÉm rating', 'mean'))
baiHat['score'] = baiHat['soDiemTrungBinh'] * np.log(baiHat['soLuotBinhChon'])
top5BaiHat = baiHat.sort_values('score')
print('top 5 b√†i h√°t n√™n nghe: \n',baiHat.tail(5))

top 5 b√†i h√°t n√™n nghe:
             soLuotBinhChon  soDiemTrungBinh      score
id b√†i h√°t
16                      16         3.375000   9.357487
17                      20         2.700000   8.088477
18                      18         3.555556  10.276877
19                      24         2.833333   9.004486
20                      11         2.727273   6.539714

In [5]:
#Gi·∫£ s·ª≠ c√≥ m·ªôt user ƒë√£ nghe b√†i h√°t STT 1. S·ª≠ d·ª•ng k·ªπ thu·∫≠t ƒë·∫øm s·ªë c·∫∑p b√†i h√°t ƒë∆∞·ª£c nghe b·ªüi c√πng user, h√£y ƒë·ªÅ xu·∫•t ra top 5 b√†i h√°t m√† user n√†y c√≥ th·ªÉ c≈©ng mu·ªën nghe theo xu h∆∞·ªõng.
baiHat1 = df[df['id b√†i h√°t']==1]
user_nghe_bai1 = baiHat1['id user'].unique()
user_nghe_bai1

array([ 8, 13, 16, 17, 20, 14, 31, 36, 38, 40, 41, 48, 57, 58, 60, 63, 69,
       71, 74, 80, 85, 96])

In [6]:
baiHatLienQuan = df[df['id user'].isin(user_nghe_bai1) & df['id b√†i h√°t'] != 1]
baiHatLienQuan  = baiHatLienQan.groupby('id b√†i h√°t').agg(soLuotNghe = ('id b√†i h√°t','count'))
baiHatLienQuan_top = baiHatLienQuan.sort_values('soLuotNghe',ascending=False)
baiHatLienQuan_top.head(5)

            soLuotNghe
id b√†i h√°t
12                  56
14                  34
11                  24
15                  23
19                  19

**B√†i 2.** (*3 ƒëi·ªÉm*) V·∫•n ƒë·ªÅ x√¢y d·ª±ng *content-based data*.

S·ª≠ d·ª•ng dataset movie_lens trong ƒë√≥ c√≥ file *movies.csv* m√¥ t·∫£ t√™n films v√† c√°c th·ªÉ lo·∫°i (m·ªôt phim c√≥ th·ªÉ thu·ªôc nhi·ªÅu th·ªÉ lo·∫°i).

1. ƒê·ªçc d·ªØ li·ªáu v√† l·ªçc l·∫°i 100 films c√≥ nhi·ªÅu th·ªÉ lo·∫°i nh·∫•t.
2. X√©t m·ªôt film X trong ƒë√≥, t√≠nh ra top 10 films t∆∞∆°ng ƒë·ªìng v·ªõi film X n√†y nh·∫•t b·∫±ng ƒë·ªô t∆∞∆°ng ƒë·ªìng Jaccard.
3. Cho m·ªôt user Y ƒë√£ xem ƒë∆∞·ª£c 5 b·ªô films $1,2,3,4,5$ trong danh s√°ch 100 films ƒë√£ li·ªát k√™ ·ªü tr√™n, h√£y x√¢y d·ª±ng m·ªôt profile c∆° b·∫£n cho user n√†y v√† khuy·∫øn ngh·ªã ra top 10 films m√† user Y n√†y c√≥ th·ªÉ mu·ªën xem.

In [9]:
df = pd.read_csv('movie_lens/movies.csv')

In [10]:
df['theLoai'] = df['genres'].apply(lambda x : x.split('|'))
df['soTheLoai'] = df['theLoai'].apply(len)
df_100 = df.sort_values('soTheLoai',ascending=False).head(100)
df_100.reset_index()

,index,movieId,title,genres,theLoai,soTheLoai
0,7441,81132,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...,"[Action, Adventure, Comedy, Crime, Drama, Film...",10
1,5556,26701,Patlabor: The Movie (Kid√¥ keisatsu patoreb√¢: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...,"[Action, Animation, Crime, Drama, Film-Noir, M...",8
2,7170,71999,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|...,"[Action, Adventure, Drama, Fantasy, Romance, S...",7
3,1390,1907,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...,"[Adventure, Animation, Children, Comedy, Drama...",7
4,5819,32031,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...,"[Adventure, Animation, Children, Comedy, Fanta...",7
...,...,...,...,...,...,...
95,5640,27397,Joint Security Area (Gongdong gyeongbi guyeok ...,Crime|Drama|Mystery|Thriller|War,"[Crime, Drama, Mystery, Thriller, War]",5
96,5634,27328,Monday (2000),Action|Comedy|Crime|Fantasy|Thriller,"[Action, Comedy, Crime, Fantasy, Thriller]",5
97,5632,27317,Audition (√îdishon) (1999),Drama|Horror|Mystery|Romance|Thriller,"[Drama, Horror, Mystery, Romance, Thriller]",5
98,5631,27311,Batman Beyond: Return of the Joker (2000),Action|Animation|Crime|Sci-Fi|Thriller,"[Action, Animation, Crime, Sci-Fi, Thriller]",5
99,454,519,RoboCop 3 (1993),Action|Crime|Drama|Sci-Fi|Thriller,"[Action, Crime, Drama, Sci-Fi, Thriller]",5

In [11]:
#X√©t m·ªôt film X trong ƒë√≥, t√≠nh ra top 10 films t∆∞∆°ng ƒë·ªìng v·ªõi film X n√†y nh·∫•t b·∫±ng ƒë·ªô t∆∞∆°ng ƒë·ªìng Jaccard.
#h√†m giao v√† h·ª£p ch·ªâ vi·∫øt ƒë∆∞·ª£c khi ki·ªÉu d·ªØ li·ªáu l√† set
df['theLoai'] = df['theLoai'].apply(set)
phim1 = df.iloc[0]

tap_tuongDong = []
for i,phim in df.iterrows():
    if(phim['movieId'] != phim1['movieId']):
        giao =len( phim1['theLoai'].intersection(phim['theLoai']))
        hop = len(phim1['theLoai'].union(phim['theLoai']))
        if hop > 0:
            tuongDong = giao/hop
        else:
            tuongDong = 0
        tap_tuongDong.append({
            'movieId' : phim['movieId'],
            'title' : phim['title'],
            'theLoai' : phim['theLoai'],
            'tuongDong' : tuongDong
        })
doTuongDong = pd.DataFrame(tap_tuongDong)
doTuongDong_top = doTuongDong.sort_values('tuongDong',ascending = False)
doTuongDong_top

,movieId,title,theLoai,tuongDong
2808,3754,"Adventures of Rocky and Bullwinkle, The (2000)","{Comedy, Children, Fantasy, Adventure, Animation}",1.0
9429,166461,Moana (2016),"{Comedy, Children, Fantasy, Adventure, Animation}",1.0
7759,91355,Asterix and the Vikings (Ast√©rix et les Viking...,"{Comedy, Children, Fantasy, Adventure, Animation}",1.0
6947,65577,"Tale of Despereaux, The (2008)","{Comedy, Children, Fantasy, Adventure, Animation}",1.0
6485,53121,Shrek the Third (2007),"{Comedy, Children, Fantasy, Adventure, Animation}",1.0
...,...,...,...,...
32,36,Dead Man Walking (1995),"{Drama, Crime}",0.0
9673,183011,The Commuter (2018),"{Drama, Mystery, Crime, Thriller}",0.0
9675,183199,Quest (2017),{Documentary},0.0
9677,183295,Insidious: The Last Key (2018),"{Mystery, Horror, Thriller}",0.0
3723,5152,We Were Soldiers (2002),"{Drama, War, Action}",0.0

In [12]:
#Cho m·ªôt user Y ƒë√£ xem ƒë∆∞·ª£c 5 b·ªô films $1,2,3,4,5$ trong danh s√°ch 100 films ƒë√£ li·ªát k√™ ·ªü tr√™n,
#h√£y x√¢y d·ª±ng m·ªôt profile c∆° b·∫£n cho user n√†y v√† khuy·∫øn ngh·ªã ra top 10 films m√† user Y n√†y c√≥ th·ªÉ mu·ªën xem.
phim_user = df_100.iloc[[0,1,2,3,4]]
user_profile = set()
for theLoai in phim_user['theLoai']:
    user_profile.update(theLoai)
print('c√°c th·ªÉ lo·∫°i ƒë√£ xem: ',user_profile)

#tuongdong jaccard
deXuat = []
for i,phim in df.iterrows():
    if(phim['movieId'] not in  phim_user['movieId']):
        giao =len( phim1['theLoai'].intersection(phim['theLoai']))
        hop = len(phim1['theLoai'].union(phim['theLoai']))
        if hop > 0:
            tuongDong = giao/hop
        else:
            tuongDong = 0
        deXuat.append({
            'movieId' : phim['movieId'],
            'title' : phim['title'],
            'theLoai' : phim['theLoai'],
            'tuongDong' : tuongDong
        })
df_deXuat = pd.DataFrame(deXuat)
df_deXuat.sort_values('tuongDong',ascending = False).head(10)

c√°c th·ªÉ lo·∫°i ƒë√£ xem:  {'Comedy', 'Musical', 'IMAX', 'Film-Noir', 'Drama', 'Sci-Fi', 'Children', 'Horror', 'Mystery', 'Western', 'Animation', 'Action', 'Thriller', 'Romance', 'Adventure', 'Fantasy', 'Crime'}

,movieId,title,theLoai,tuongDong
8217,103755,Turbo (2013),"{Comedy, Children, Fantasy, Adventure, Animation}",1.0
1705,2294,Antz (1998),"{Comedy, Children, Fantasy, Adventure, Animation}",1.0
3567,4886,"Monsters, Inc. (2001)","{Comedy, Children, Fantasy, Adventure, Animation}",1.0
6192,45074,"Wild, The (2006)","{Comedy, Children, Fantasy, Adventure, Animation}",1.0
9428,166461,Moana (2016),"{Comedy, Children, Fantasy, Adventure, Animation}",1.0
6946,65577,"Tale of Despereaux, The (2008)","{Comedy, Children, Fantasy, Adventure, Animation}",1.0
2808,3754,"Adventures of Rocky and Bullwinkle, The (2000)","{Comedy, Children, Fantasy, Adventure, Animation}",1.0
0,1,Toy Story (1995),"{Comedy, Children, Fantasy, Adventure, Animation}",1.0
2999,4016,"Emperor's New Groove, The (2000)","{Comedy, Children, Fantasy, Adventure, Animation}",1.0
7758,91355,Asterix and the Vikings (Ast√©rix et les Viking...,"{Comedy, Children, Fantasy, Adventure, Animation}",1.0

**B√†i 3.** (*2 ƒëi·ªÉm*) V·∫•n ƒë·ªÅ d·ª± ƒëo√°n *missing value* trong l·ªçc c·ªông t√°c.

Cho m·ªôt b·∫£ng *utility matrix* gi·ªØa 4 user v√† 4 item nh∆∞ b√™n d∆∞·ªõi:

|Rating     | $I_1$    | $I_2$  | $I_3$   |  $I_4$  |
|----------|----------|--------|---------|---------|
| $U_1$    | 4     | 3     | ?    |   4 | 
| $U_2$ | 3     | 3      | 5     |   5    |
| $U_3$  | 5     | 4      |   3  |    4 |
| $U_4$|   ?  |   2    | 3 |   5|

1. D·ª± ƒëo√°n hai missing rating $r_{U_1, I_3}$ v√† $r_{U_4, I_1}$ b·∫±ng c√°ch d√πng ƒë·ªô t∆∞∆°ng ƒë·ªìng Pearson.
2. C√¢u h·ªèi t∆∞∆°ng t·ª± tr√™n nh∆∞ng chu·∫©n ho√° b·∫£ng theo d·∫°ng center v√† sau ƒë√≥ d√πng ƒë·ªô t∆∞∆°ng ƒë·ªìng cosine. So s√°nh c√°c k·∫øt qu·∫£ thu ƒë∆∞·ª£c.

In [13]:
data = {
    'U1' : [4,3,np.nan,4],
    'U2' : [3,3,5,5],
    'U3' : [5,4,3,4],
    'U4' : [np.nan,2,3,5],
}
df = pd.DataFrame(data, index= ['I1','I2','I3','I4'])

df = df.T
df

     I1   I2   I3   I4
U1  4.0  3.0  NaN  4.0
U2  3.0  3.0  5.0  5.0
U3  5.0  4.0  3.0  4.0
U4  NaN  2.0  3.0  5.0

In [14]:
import numpy as np
import pandas as pd

# Ma tr·∫≠n ƒë√°nh gi√° (utility matrix)
du_lieu = pd.DataFrame({
    "I1": [4, 3, 5, np.nan],
    "I2": [3, 3, 4, 2],
    "I3": [np.nan, 5, 3, 3],
    "I4": [4, 5, 4, 5]
}, index=["U1", "U2", "U3", "U4"])

print("B·∫£ng ƒë√°nh gi√° ban ƒë·∫ßu:")
print(du_lieu)

# --- 1. T√≠nh ƒë·ªô t∆∞∆°ng ƒë·ªìng Pearson gi·ªØa c√°c user ---
tuong_dong_pearson = du_lieu.T.corr(method='pearson')
print("\nƒê·ªô t∆∞∆°ng ƒë·ªìng Pearson gi·ªØa c√°c user:")
print(tuong_dong_pearson)

# --- H√†m d·ª± ƒëo√°n rating d·ª±a tr√™n Pearson ---
def du_doan_pearson(user, item):
    nguoi_dung = du_lieu.loc[user]
    cac_user_khac = du_lieu.drop(index=user)
    
    diem_tuong_dong = tuong_dong_pearson.loc[user]
    tong_tu, tong_mau = 0, 0
    
    for nguoi_khac, hang in cac_user_khac.iterrows():
        if not np.isnan(hang[item]):
            tong_tu += diem_tuong_dong[nguoi_khac] * hang[item]
            tong_mau += abs(diem_tuong_dong[nguoi_khac])
    
    return tong_tu / tong_mau if tong_mau != 0 else np.nan

# D·ª± ƒëo√°n 2 gi√° tr·ªã c√≤n thi·∫øu
r_U1_I3 = du_doan_pearson("U1", "I3")
r_U4_I1 = du_doan_pearson("U4", "I1")

print(f"\nD·ª± ƒëo√°n r_U1,I3 (Pearson): {r_U1_I3:.2f}")
print(f"D·ª± ƒëo√°n r_U4,I1 (Pearson): {r_U4_I1:.2f}")

# --- 2. D·ª± ƒëo√°n l·∫°i sau khi chu·∫©n ho√° v√† d√πng Cosine ---
# Chu·∫©n ho√° d·ªØ li·ªáu theo d·∫°ng center
du_lieu_chuanhoa = du_lieu.sub(du_lieu.mean(axis=1), axis=0)


from sklearn.metrics.pairwise import cosine_similarity

# T√≠nh ƒë·ªô t∆∞∆°ng ƒë·ªìng cosine gi·ªØa c√°c user
tuong_dong_cosine = pd.DataFrame(
    cosine_similarity(du_lieu_chuanhoa.fillna(0)),  # thay NaN = 0 ƒë·ªÉ t√≠nh cosine
    index=du_lieu_chuanhoa.index,
    columns=du_lieu_chuanhoa.index
)

# H√†m d·ª± ƒëo√°n Cosine (d√πng d·ªØ li·ªáu chu·∫©n ho√°)
def du_doan_cosine(user, item):
    nguoi_dung = du_lieu_chuanhoa.loc[user]
    cac_user_khac = du_lieu_chuanhoa.drop(index=user)
    
    diem_tuong_dong = tuong_dong_cosine.loc[user]
    tong_tu, tong_mau = 0, 0
    
    for nguoi_khac, hang in cac_user_khac.iterrows():
        if not np.isnan(du_lieu.loc[nguoi_khac, item]):
            tong_tu += diem_tuong_dong[nguoi_khac] * hang[item]
            tong_mau += abs(diem_tuong_dong[nguoi_khac])
    
    du_doan = du_lieu.mean(axis=1)[user] + (tong_tu / tong_mau if tong_mau != 0 else 0)
    return du_doan

r_U1_I3_cosine = du_doan_cosine("U1", "I3")
r_U4_I1_cosine = du_doan_cosine("U4", "I1")

print(f"\nD·ª± ƒëo√°n r_U1,I3 (Cosine): {r_U1_I3_cosine:.2f}")
print(f"D·ª± ƒëo√°n r_U4,I1 (Cosine): {r_U4_I1_cosine:.2f}")

B·∫£ng ƒë√°nh gi√° ban ƒë·∫ßu:
     I1  I2   I3  I4
U1  4.0   3  NaN   4
U2  3.0   3  5.0   5
U3  5.0   4  3.0   4
U4  NaN   2  3.0   5

ƒê·ªô t∆∞∆°ng ƒë·ªìng Pearson gi·ªØa c√°c user:
     U1        U2        U3        U4
U1  1.0  0.500000  0.500000  1.000000
U2  0.5  1.000000 -0.707107  0.755929
U3  0.5 -0.707107  1.000000  0.188982
U4  1.0  0.755929  0.188982  1.000000

D·ª± ƒëo√°n r_U1,I3 (Pearson): 3.50
D·ª± ƒëo√°n r_U4,I1 (Pearson): 3.71

D·ª± ƒëo√°n r_U1,I3 (Cosine): 3.57
D·ª± ƒëo√°n r_U4,I1 (Cosine): 3.18

**B√†i 4.** (*2.5 ƒëi·ªÉm*) V·∫•n ƒë·ªÅ thu·∫≠t to√°n l·ªçc c·ªông t√°c ·ªü d·∫°ng *user-based* v√† *item-based*.

S·ª≠ d·ª•ng l·∫°i dataset ·ªü b√†i 1 ho·∫∑c dataset *movie_lens* v√† ch·ªçn m·ªôt thu·∫≠t to√°n *collaborative filtering* ƒë√£ chu·∫©n b·ªã s·∫µn, th·ª±c hi·ªán hai y√™u c·∫ßu:
1) In ra ma tr·∫≠n t∆∞∆°ng ƒë·ªìng gi·ªØa c√°c user v√† gi·ªØa c√°c item s·ª≠ d·ª•ng *sklearn.metrics.pairwise*.  

2) Duy·ªát theo t·ª´ng user v√† cho bi·∫øt s·∫Ω khuy·∫øn ngh·ªã item n√†o cho h·ªç.  
3) Duy·ªát theo t·ª´ng item v√† cho bi·∫øt s·∫Ω khuy·∫øn ngh·ªã item n√†y cho c√°c user n√†o. C√≥ nh·∫≠n x√©t g√¨ v·ªÅ k·∫øt qu·∫£ thu ƒë∆∞·ª£c ·ªü 2) v√† 3)?

In [20]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

# --- ƒê·ªçc d·ªØ li·ªáu ---
movies = pd.read_csv("movie_lens/movies.csv")
ratings = pd.read_csv("movie_lens/ratings.csv")

# --- T·∫°o ma tr·∫≠n user-movie ---
user_movie = ratings.pivot_table(
    index='userId',
    columns='movieId',
    values='rating'
)

print("üìä Ma tr·∫≠n ƒë√°nh gi√° (user‚Äìmovie):")
print(user_movie.head())

üìä Ma tr·∫≠n ƒë√°nh gi√° (user‚Äìmovie):
movieId  1       2       3       4       5       6       7       8       \
userId
1           4.0     NaN     4.0     NaN     NaN     4.0     NaN     NaN
2           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
5           4.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN

movieId  9       10      ...  193565  193567  193571  193573  193579  193581  \
userId                   ...
1           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
2           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
3           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
4           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
5           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN

movieId  193583  193585  193587  193609
userId
1           NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN
5           NaN     NaN     NaN     NaN

[5 rows x 9724 columns]

In [21]:
# T√≠nh ƒë·ªô t∆∞∆°ng ƒë·ªìng gi·ªØa c√°c user
user_similarity = pd.DataFrame(
    cosine_similarity(user_movie.fillna(0)),
    index=user_movie.index,
    columns=user_movie.index
)

# T√≠nh ƒë·ªô t∆∞∆°ng ƒë·ªìng gi·ªØa c√°c item (phim)
item_similarity = pd.DataFrame(
    cosine_similarity(user_movie.fillna(0).T),
    index=user_movie.columns,
    columns=user_movie.columns
)

print("\nü§ù Ma tr·∫≠n t∆∞∆°ng ƒë·ªìng gi·ªØa c√°c user:")
print(user_similarity.round(2).head())

print("\nüé¨ Ma tr·∫≠n t∆∞∆°ng ƒë·ªìng gi·ªØa c√°c item:")
print(item_similarity.round(2).iloc[:5, :5])

ü§ù Ma tr·∫≠n t∆∞∆°ng ƒë·ªìng gi·ªØa c√°c user:
userId   1     2     3     4     5     6     7     8     9     10   ...   601  \
userId                                                              ...
1       1.00  0.03  0.06  0.19  0.13  0.13  0.16  0.14  0.06  0.02  ...  0.08
2       0.03  1.00  0.00  0.00  0.02  0.03  0.03  0.03  0.00  0.07  ...  0.20
3       0.06  0.00  1.00  0.00  0.01  0.00  0.00  0.00  0.00  0.00  ...  0.01
4       0.19  0.00  0.00  1.00  0.13  0.09  0.12  0.06  0.01  0.03  ...  0.09
5       0.13  0.02  0.01  0.13  1.00  0.30  0.11  0.43  0.00  0.03  ...  0.07

userId   602   603   604   605   606   607   608   609   610
userId
1       0.16  0.22  0.07  0.15  0.16  0.27  0.29  0.09  0.15
2       0.02  0.01  0.00  0.00  0.03  0.01  0.05  0.03  0.10
3       0.00  0.02  0.00  0.01  0.01  0.02  0.02  0.00  0.03
4       0.13  0.31  0.05  0.08  0.20  0.13  0.15  0.03  0.11
5       0.42  0.11  0.26  0.15  0.11  0.15  0.14  0.26  0.06

[5 rows x 610 columns]

üé¨ Ma tr·∫≠n t∆∞∆°ng ƒë·ªìng gi·ªØa c√°c item:
movieId     1     2     3     4     5
movieId
1        1.00  0.41  0.30  0.04  0.31
2        0.41  1.00  0.28  0.11  0.29
3        0.30  0.28  1.00  0.09  0.42
4        0.04  0.11  0.09  1.00  0.19
5        0.31  0.29  0.42  0.19  1.00

In [22]:
def predict_user_based(user, item):
    if item not in user_movie.columns:
        return np.nan
    if not np.isnan(user_movie.loc[user, item]):
        return user_movie.loc[user, item]
    
    sim_scores = user_similarity.loc[user]
    ratings_for_item = user_movie[item]
    mask = ratings_for_item.notna()
    
    numerator = (sim_scores[mask] * ratings_for_item[mask]).sum()
    denominator = sim_scores[mask].abs().sum()
    
    return numerator / denominator if denominator != 0 else np.nan

In [23]:
def predict_item_based(user, item):
    if item not in user_movie.columns:
        return np.nan
    if not np.isnan(user_movie.loc[user, item]):
        return user_movie.loc[user, item]
    
    sim_scores = item_similarity.loc[item]
    ratings_by_user = user_movie.loc[user]
    mask = ratings_by_user.notna()
    
    numerator = (sim_scores[mask] * ratings_by_user[mask]).sum()
    denominator = sim_scores[mask].abs().sum()
    
    return numerator / denominator if denominator != 0 else np.nan

In [24]:
print("\nüéØ Khuy·∫øn ngh·ªã phim cho t·ª´ng user (User-based CF):")
for user in user_movie.index[:5]:  # ch·ªâ in 5 user ƒë·∫ßu
    unseen = user_movie.loc[user][user_movie.loc[user].isna()]
    predictions = {i: predict_user_based(user, i) for i in unseen.index}
    if predictions:
        top_item = max(predictions, key=predictions.get)
        title = movies[movies.movieId == top_item]['title'].values[0]
        print(f"User {user} n√™n xem: üé¨ {title} (d·ª± ƒëo√°n {predictions[top_item]:.2f})")

print("\nüéØ Khuy·∫øn ngh·ªã user cho t·ª´ng phim (Item-based CF):")
for item in user_movie.columns[:5]:  # ch·ªâ in 5 phim ƒë·∫ßu
    unseen_users = user_movie[item][user_movie[item].isna()].index
    predictions = {u: predict_item_based(u, item) for u in unseen_users}
    if predictions:
        top_user = max(predictions, key=predictions.get)
        print(f"Phim ID {item} n√™n g·ª£i √Ω cho user {top_user} (d·ª± ƒëo√°n {predictions[top_user]:.2f})")

üéØ Khuy·∫øn ngh·ªã phim cho t·ª´ng user (User-based CF):
User 1 n√™n xem: üé¨ Lesson Faust (1994) (d·ª± ƒëo√°n 5.00)
User 2 n√™n xem: üé¨ Awfully Big Adventure, An (1995) (d·ª± ƒëo√°n 5.00)
User 3 n√™n xem: üé¨ Heidi Fleiss: Hollywood Madam (1995) (d·ª± ƒëo√°n 5.00)
User 4 n√™n xem: üé¨ Jonah Who Will Be 25 in the Year 2000 (Jonas qui aura 25 ans en l'an 2000) (1976) (d·ª± ƒëo√°n 5.00)
User 5 n√™n xem: üé¨ Lamerica (1994) (d·ª± ƒëo√°n 5.00)

üéØ Khuy·∫øn ngh·ªã user cho t·ª´ng phim (Item-based CF):
Phim ID 1 n√™n g·ª£i √Ω cho user 53 (d·ª± ƒëo√°n 5.00)
Phim ID 2 n√™n g·ª£i √Ω cho user 53 (d·ª± ƒëo√°n 5.00)
Phim ID 3 n√™n g·ª£i √Ω cho user 53 (d·ª± ƒëo√°n 5.00)
Phim ID 4 n√™n g·ª£i √Ω cho user 53 (d·ª± ƒëo√°n 5.00)
Phim ID 5 n√™n g·ª£i √Ω cho user 53 (d·ª± ƒëo√°n 5.00)

# data.csv

In [25]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# ---------------------------
# 1Ô∏è‚É£ ƒê·ªçc d·ªØ li·ªáu
# ---------------------------
# Gi·∫£ s·ª≠ file c√≥ 3 c·ªôt: userId, movieId, rating
du_lieu = pd.read_csv("data.csv", header=None, names=["userId", "movieId", "rating"])

print("üìÇ D·ªØ li·ªáu ban ƒë·∫ßu:")
print(du_lieu.head())

# ---------------------------
# 2Ô∏è‚É£ T·∫°o ma tr·∫≠n user‚Äìmovie (utility matrix)
# ---------------------------
ma_tran = du_lieu.pivot_table(index="userId", columns="movieId", values="rating")

print("\nüìä Ma tr·∫≠n user‚Äìmovie:")
print(ma_tran.head())

# ---------------------------
# 3Ô∏è‚É£ T√≠nh ma tr·∫≠n t∆∞∆°ng ƒë·ªìng gi·ªØa user v√† gi·ªØa item
# ---------------------------
user_similarity = pd.DataFrame(
    cosine_similarity(ma_tran.fillna(0)),
    index=ma_tran.index,
    columns=ma_tran.index
)

item_similarity = pd.DataFrame(
    cosine_similarity(ma_tran.fillna(0).T),
    index=ma_tran.columns,
    columns=ma_tran.columns
)

print("\nü§ù Ma tr·∫≠n t∆∞∆°ng ƒë·ªìng gi·ªØa c√°c user:")
print(user_similarity.round(2).head())

print("\nüé¨ Ma tr·∫≠n t∆∞∆°ng ƒë·ªìng gi·ªØa c√°c item:")
print(item_similarity.round(2).iloc[:5, :5])

# ---------------------------
# 4Ô∏è‚É£ H√†m d·ª± ƒëo√°n rating (User-based CF)
# ---------------------------
def du_doan_user_based(user, phim):
    if phim not in ma_tran.columns:
        return np.nan
    if not np.isnan(ma_tran.loc[user, phim]):
        return ma_tran.loc[user, phim]
    
    diem_tuong_dong = user_similarity.loc[user]
    diem_phim = ma_tran[phim]
    mask = diem_phim.notna()
    
    tu = (diem_tuong_dong[mask] * diem_phim[mask]).sum()
    mau = diem_tuong_dong[mask].abs().sum()
    
    return tu / mau if mau != 0 else np.nan

# ---------------------------
# 5Ô∏è‚É£ H√†m d·ª± ƒëo√°n rating (Item-based CF)
# ---------------------------
def du_doan_item_based(user, phim):
    if phim not in ma_tran.columns:
        return np.nan
    if not np.isnan(ma_tran.loc[user, phim]):
        return ma_tran.loc[user, phim]
    
    diem_tuong_dong = item_similarity.loc[phim]
    diem_user = ma_tran.loc[user]
    mask = diem_user.notna()
    
    tu = (diem_tuong_dong[mask] * diem_user[mask]).sum()
    mau = diem_tuong_dong[mask].abs().sum()
    
    return tu / mau if mau != 0 else np.nan

# ---------------------------
# 6Ô∏è‚É£ Khuy·∫øn ngh·ªã phim cho t·ª´ng user (User-based)
# ---------------------------
print("\nüéØ Khuy·∫øn ngh·ªã phim cho t·ª´ng user (User-based CF):")
for user in ma_tran.index[:5]:  # ch·ªâ in 5 user ƒë·∫ßu
    phim_chua_xem = ma_tran.loc[user][ma_tran.loc[user].isna()]
    du_doan = {p: du_doan_user_based(user, p) for p in phim_chua_xem.index}
    if du_doan:
        phim_goi_y = max(du_doan, key=du_doan.get)
        print(f"üë§ User {user} ‚Üí n√™n xem phim ID {phim_goi_y} (d·ª± ƒëo√°n: {du_doan[phim_goi_y]:.2f})")

# ---------------------------
# 7Ô∏è‚É£ Khuy·∫øn ngh·ªã user cho t·ª´ng phim (Item-based)
# ---------------------------
print("\nüé¨ Khuy·∫øn ngh·ªã user cho t·ª´ng phim (Item-based CF):")
for phim in ma_tran.columns[:5]:  # ch·ªâ in 5 phim ƒë·∫ßu
    user_chua_xem = ma_tran[phim][ma_tran[phim].isna()].index
    du_doan = {u: du_doan_item_based(u, phim) for u in user_chua_xem}
    if du_doan:
        user_goi_y = max(du_doan, key=du_doan.get)
        print(f"üé• Phim ID {phim} ‚Üí n√™n g·ª£i √Ω cho user {user_goi_y} (d·ª± ƒëo√°n: {du_doan[user_goi_y]:.2f})")

# ---------------------------
# 8Ô∏è‚É£ Nh·∫≠n x√©t
# ---------------------------
print("""
üß† Nh·∫≠n x√©t:
- User-based CF: D·ª±a tr√™n ng∆∞·ªùi c√≥ h√†nh vi t∆∞∆°ng t·ª± ‚Üí t·ªët khi s·ªë l∆∞·ª£ng phim nh·ªè, user nhi·ªÅu.
- Item-based CF: D·ª±a tr√™n phim c√≥ ƒë√°nh gi√° t∆∞∆°ng t·ª± ‚Üí ·ªïn ƒë·ªãnh h∆°n khi d·ªØ li·ªáu th∆∞a.
- K·∫øt qu·∫£ 2 c√°ch th∆∞·ªùng g·∫ßn gi·ªëng nhau, nh∆∞ng item-based CF d·ªÖ m·ªü r·ªông h∆°n (Netflix, Amazon d√πng nhi·ªÅu).
""")

üìÇ D·ªØ li·ªáu ban ƒë·∫ßu:
   userId  movieId  rating
0       1       18       5
1       3       12       4
2       3        9       3
3       3       15       1
4       3       12       2

üìä Ma tr·∫≠n user‚Äìmovie:
movieId  1    2    3    4    5   6   7   8    9   10   11        12   13   14  \
userId
1       NaN  NaN  NaN  NaN  NaN NaN NaN NaN  NaN NaN  NaN       NaN  NaN  NaN
3       NaN  NaN  2.0  NaN  3.0 NaN NaN NaN  3.0 NaN  NaN  2.666667  NaN  NaN
4       NaN  NaN  NaN  NaN  NaN NaN NaN NaN  NaN NaN  2.0       NaN  NaN  NaN
5       NaN  2.0  NaN  NaN  NaN NaN NaN NaN  4.0 NaN  NaN  2.000000  3.0  5.0
6       NaN  NaN  NaN  4.0  NaN NaN NaN NaN  NaN NaN  NaN       NaN  3.0  NaN

movieId   15  16   17   18   19   20
userId
1        NaN NaN  NaN  5.0  NaN  NaN
3        1.0 NaN  1.0  3.0  NaN  NaN
4        NaN NaN  NaN  3.0  1.0  NaN
5        NaN NaN  NaN  NaN  NaN  4.0
6        5.0 NaN  2.0  NaN  NaN  NaN

ü§ù Ma tr·∫≠n t∆∞∆°ng ƒë·ªìng gi·ªØa c√°c user:
userId   1     3     4     5     6     7     8     9     10    11   ...   89   \
userId                                                              ...
1       1.00  0.47  0.80  0.00  0.00  0.50  0.00  0.00  0.00  0.00  ...  0.00
3       0.47  1.00  0.38  0.32  0.15  0.34  0.15  0.00  0.38  0.63  ...  0.27
4       0.80  0.38  1.00  0.00  0.00  0.47  0.00  0.27  0.08  0.00  ...  0.00
5       0.00  0.32  0.00  1.00  0.14  0.00  0.37  0.00  0.74  0.28  ...  0.27
6       0.00  0.15  0.00  0.14  1.00  0.31  0.00  0.00  0.31  0.33  ...  0.31

userId   90    91    92    93    95    96    97    99    100
userId
1       0.00  0.00  0.00  0.13  0.00  0.00  0.00  0.43  0.00
3       0.00  0.47  0.36  0.38  0.00  0.12  0.36  0.58  0.15
4       0.00  0.00  0.00  0.47  0.05  0.00  0.04  0.40  0.19
5       0.00  0.00  0.54  0.38  0.39  0.26  0.48  0.07  0.00
6       0.54  0.00  0.34  0.00  0.15  0.33  0.09  0.15  0.50

[5 rows x 81 columns]

üé¨ Ma tr·∫≠n t∆∞∆°ng ƒë·ªìng gi·ªØa c√°c item:
movieId     1     2     3     4     5
movieId
1        1.00  0.24  0.28  0.34  0.13
2        0.24  1.00  0.08  0.06  0.15
3        0.28  0.08  1.00  0.29  0.33
4        0.34  0.06  0.29  1.00  0.10
5        0.13  0.15  0.33  0.10  1.00

üéØ Khuy·∫øn ngh·ªã phim cho t·ª´ng user (User-based CF):
üë§ User 1 ‚Üí n√™n xem phim ID 16 (d·ª± ƒëo√°n: 4.72)
üë§ User 3 ‚Üí n√™n xem phim ID 16 (d·ª± ƒëo√°n: 3.66)
üë§ User 4 ‚Üí n√™n xem phim ID 10 (d·ª± ƒëo√°n: 3.74)
üë§ User 5 ‚Üí n√™n xem phim ID 7 (d·ª± ƒëo√°n: 3.71)
üë§ User 6 ‚Üí n√™n xem phim ID 7 (d·ª± ƒëo√°n: 4.06)

üé¨ Khuy·∫øn ngh·ªã user cho t·ª´ng phim (Item-based CF):
üé• Phim ID 1 ‚Üí n√™n g·ª£i √Ω cho user 89 (d·ª± ƒëo√°n: 5.00)
üé• Phim ID 2 ‚Üí n√™n g·ª£i √Ω cho user 1 (d·ª± ƒëo√°n: 5.00)
üé• Phim ID 3 ‚Üí n√™n g·ª£i √Ω cho user 89 (d·ª± ƒëo√°n: 5.00)
üé• Phim ID 4 ‚Üí n√™n g·ª£i √Ω cho user 1 (d·ª± ƒëo√°n: 5.00)
üé• Phim ID 5 ‚Üí n√™n g·ª£i √Ω cho user 1 (d·ª± ƒëo√°n: 5.00)

üß† Nh·∫≠n x√©t:
- User-based CF: D·ª±a tr√™n ng∆∞·ªùi c√≥ h√†nh vi t∆∞∆°ng t·ª± ‚Üí t·ªët khi s·ªë l∆∞·ª£ng phim nh·ªè, user nhi·ªÅu.
- Item-based CF: D·ª±a tr√™n phim c√≥ ƒë√°nh gi√° t∆∞∆°ng t·ª± ‚Üí ·ªïn ƒë·ªãnh h∆°n khi d·ªØ li·ªáu th∆∞a.
- K·∫øt qu·∫£ 2 c√°ch th∆∞·ªùng g·∫ßn gi·ªëng nhau, nh∆∞ng item-based CF d·ªÖ m·ªü r·ªông h∆°n (Netflix, Amazon d√πng nhi·ªÅu).

In [ ]:
+